<div class="container">
		<div class="row">
			<div class="col-6">
				<span class="crayon-orange-g">Welcome to Hide out Cafe</span><br>
				<span class="marker-stripe-pink">About</span>
				<p>このサイトは喫茶店巡りが趣味な方への</p>
				<p>情報共有サイトとなっております！</p>
				<p>身近にある隠れた喫茶店やcafeの情報を共有していきましょう！</p>
				<span class="marker-stripe-pink">cafe投稿</span>
				<p>このサイトは会員制サイトとなっております。</p>
				<p>まだ登録がお済みになっていない場合はSing_upから登録をお願いいたします。</p>
				<p>cafeの投稿の情報の共有により、コロナウイルスでの関係で一時閉店いているお店やお店の広さ、<br>雰囲気や商品の共有を行うことができます。</p>
			</div>
		</div>
</div>




