
<div class="a">
    <div class="b"><img class="top-img" src="assets/cafetop.jpg"><</div>
    <div class="b"><img class="top-img" src="assets/cafetop4.jpg"></div>
    <div class="b"><img class="top-img" src="assets/cafetop3.jpg"></div>
</div>
