
<div class="a">
	<div class="b"><img class="top-img" src="images/cafetop.jpg"></div>
	<div class="b"><img class="top-img" src="images/cafetop4.jpg"></div>
	<div class="b"><img class="top-img" src="images/cafetop3.jpg"></div>
</div>
