
<div class="a">
	<div class="b"><%=image_tag "cafetop.jpg", class:"top-img" %></div>
	<div class="b"><%=image_tag "cafetop3.jpg", class:"top-img" %></div>
	<div class="b"><%=image_tag "cafetop4.jpg", class:"top-img" %></div>
</div>
