/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";  /*ここを追加*/
@import "bootstrap";            /*ここを追加*/

*{
box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
font-family:arial;
}
body{background:#ecf0f1; font-family:arial; margin:0; color:#888}
.banner{
background:#00DAFC;
line-height:400px;
text-align:center;
color:#fff;
font-size:60px;
height:100px;
width: 100%;
}

.header{
height:60px;
background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
color:#fff;
width:100%;
}
.logo{
font-family: cursive;
padding-left: 10px;
margin:0;
line-height:50px;
float:left;
}
.nav{
list-style:none;
float:left;
font-size:20px;
}
.nav li{display:inline-block;}
.nav li a{
font-family: cursive;
display:inline-block;
padding:13px 35px;
color:inherit;
text-decoration:none;
}

.container{
max-width:1200px;
padding:0 15px;
width:100%;
}
.container:after {
clear: both;
content: "";
display: table;
}
.footer{background:#0A95AA; color:#fff; height:150px}
.copy{
font-size:10px;
text-align:center
}
.bottom-nav{
text-align:center;
background:#02BDD6;
width:100%;
color:#fff;
height:35px
}
.bottom-nav .nav{float:none; margin:0}
.bottom-nav .nav a{ padding: 0 25px; line-height:35px}
.fixed-top, .fixed-bottom{
background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
position:fixed;
top:0;
}
.fixed-bottom{
top:auto;
bottom:0;
}
.label {
  background-color: #337ab7;
  font-weight: 500;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
